<!DOCTYPE html>
<html long="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
Bonjour je m'appel {{prenom}} {{nom}} j'ai {{age}} ans et je suis dans la section {{section}}
</body>
</html>
